#draw {
    float: left;
}

.bar {
    background-color: blue;
    min-width: 1px;
    height: 20px;
    margin: 10px;
    display: inline-block;
}

.controls {
    position: absolute;
    right: 0;
}